@import "nib"

@-ms-viewport { width: device-width; }
@viewport { width: device-width; }

*, *:before, *:after
  margin 0
  padding 0
  box-sizing border-box

html, body
  height 100%
  width 100%

body
  font-family Helvetica, sans-serif

  // responsive scale
  @media (min-width: 600px)
    font-size (18em / 16)

  @media (min-width: 1100px)
    font-size (20em / 16)

