@import "nib"

.topo
  absolute: top 0 left 0
  z-index 3

  line-height: 2em
  height 3em
  padding 0.5em
  width: 100%

  background: #333
  box-shadow 0 0 5px rgba(0,0,0,0.3)

.topo-logo
  background yellow
  padding 0.25em

  height 100%
  width auto

  vertical-align middle

.topo-nome
  color white
  display inline-block
  vertical-align middle

  font-weight normal
  font-size 1.5em
  line-height 1
