<!doctype html>
<html manifest="manifest.appcache" lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title>BusaoSP - Ache os ônibus em São Paulo</title>
    <meta name="description" content="Encontre todos os pontos de ônibus de São Paulo ao seu redor e nos pontos os respectivos ônibus que por ele passam, além disso, busque o itinerário de cada linha e visualize no mapa.">

    <!-- mobile meta data -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="x-rim-auto-match" content="none">

    <!-- Apple meta data -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="BusaoSP">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/ios/icone-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ios/icone-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ios/icone-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ios/icone-144x144.png">
    <link href="images/ios/startup-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link href="images/ios/startup-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <script>
    if (navigator.userAgent.match(/iP(ad|hone|od)/i) && window.screen.height==568) { // iPhone 4''
      document.querySelector("meta[name=viewport]").content="width=320.1";
    }
    </script>

    <!-- IE meta data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileImage" content="images/win8/icone-144x144.png">
    <meta name="msapplication-TileColor" content="#f4ef00">
    <meta name="title" content="BusaoSP">

    <!-- build:css styles/main.css -->
      <link rel="stylesheet" href="styles/main.css">
      <link rel="stylesheet" href="styles/topo.css">
      <link rel="stylesheet" href="styles/mapa.css">
      <link rel="stylesheet" href="styles/lista.css">
      <link rel="stylesheet" href="styles/offcanvas.css">
    <!-- endbuild -->

    <script src="http://maps.googleapis.com/maps/api/js?sensor=true&amp;language=pt-br&amp;region=BR"></script>

    <!-- build:js scripts/deps.js -->
      <script src="components/angular/angular.js"></script>
      <script src="components/angular-route/angular-route.js"></script>
      <script src="scripts/lib/geolocationmarker.js"></script>
      <script src="scripts/lib/Spinner.js"></script>
      <script src="components/fastclick/lib/fastclick.js"></script>
      <script src="scripts/lib/setImmediate.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/scripts.js -->
      <script src="scripts/offline.js"></script>
      <script src="scripts/app.js"></script>

      <script src="scripts/services/remote.js"></script>
      <script src="scripts/services/linhasAtivas.js"></script>
      <script src="scripts/services/atualizaLinhas.js"></script>
      <script src="scripts/services/pontosProximos.js"></script>
      <script src="scripts/services/dadosLinhas.js"></script>

      <script src="scripts/maps/Icones.js"></script>
      <script src="scripts/maps/GoogleMaps.js"></script>
      <script src="scripts/maps/Mapa.js"></script>

      <script src="scripts/services/geolocation.js"></script>
      <script src="scripts/services/temporeal.js"></script>

      <script src="scripts/controllers/NavegacaoController.js"></script>
      <script src="scripts/controllers/ListaController.js"></script>
      <script src="scripts/controllers/PontosProximosController.js"></script>
      <script src="scripts/controllers/LinhaOnibusController.js"></script>
      <script src="scripts/controllers/MapaController.js"></script>
    <!-- endbuild -->

  </head>
  <body ng-app="onibus" ng-controller="NavegacaoController" class="{{ classeNavegacao }}">

    <!-- Topo -->
    <div class="topo" ng-click="exibeMenu()">
      <img src="images/back.png" alt="" class="topo-back">
      <img src="images/busaosp.svg" class="topo-logo">
      <h1 class="topo-nome">BusaoSP</h1>
    </div>

    <!-- Lista de pontos -->
    <div ng-controller="ListaController"
         class="pontos {{ pontosProximos.pontos && 'carregado' || 'carregando' }}">

      <h2 ng-click="exibicaoPontosProximos(); exibeMapa()"
          class="titulo-pontos-proximos">
        Pontos próximos
      </h2>

      <ul class="pontos-lista">
        <li ng-repeat="ponto in pontosProximos.pontos" class="pontos-ponto">
          <div ng-click="toggle(ponto)">{{ ponto.descricao }} - {{ ponto.distancia * 1000 }}m</div>

          <ul class="pontos-lista-linhas {{ ponto.show && 'show' || 'hide' }}">
            <li
              ng-repeat="linha in ponto.onibuses"
              class="pontos-linha {{ linha.ativa && 'ativa' || 'inativa' }}"
              ng-click="exibe(linha.id); exibeMapa()">

              <span class="linha-legenda"
                    style="background-color: {{ linha.cor }}">
              </span>

              {{ linha.letreiro }} - {{ linha.sentido.terminalPartida }}

            </li>
          </ul>
        </li>
      </ul>

      <div class="pontos-loading"></div>
    </div>

    <!-- Google Maps -->
    <div ng-controller="MapaController" class="mapa" ng-click="exibeMapa()">
      <div id="map-module"></div>
    </div>

    <!-- Controllers -->
    <div ng-view></div>
    <script type="text/ng-template" id="null-template.html"> </script>


    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-270161-19', 'busaosp.com.br');
      ga('send', 'pageview');
    </script>

    <!-- LiveReload -->
    <script>
    if (location.hostname.indexOf('busaosp.com.br') === -1) {
      var s = document.createElement('script');
      s.src = 'http://'+location.hostname+':35729/livereload.js?snipver=1';
      document.body.appendChild(s);
    }
    </script>


    <script>
    FastClick.attach(document.querySelector('.topo'));
    FastClick.attach(document.querySelector('.pontos'));
    </script>

  </body>
</html>
